app/src/main/jniLibs/*/*.so
!app/src/main/jniLibs/README.md

.gradle/
build/
app/build/
out/

local.properties

.idea/
*.iml
.navigation/
captures/
.externalNativeBuild/
.cxx/

app/.chaquopy/
app/src/main/python/**/__pycache__/
app/src/main/python/**/*.pyc

*.jks
*.keystore
key.properties

*.log
*.hprof
.DS_Store
Thumbs.db

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat